/*@media (min-width: 1200px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 940px;
    }
}
* This only changed the navbar, not the rest of the page...
* */

#tagline {
    color: #679e87;
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-size:0.8em;
}

h2 {
    font-size:1.15em;
    color:#679e87;
	font-weight: bold;
	line-height: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

p.normaltext {
	font-size:0.90em; /*also bullet and table font size!*/
}

p.captiontext {
	font-size:0.90em;
	text-align:center;
	color:#679e87;
	font-style:italic;
}

/*p.cationtext1 {
	font-size:0.90em;
	text-align:center;
	color:#679e87;
	font-style:italic;
	max-width:120px;
}*/


div.leftdiv {
	float: left;
}

div.leftdivRightpad {
	float: left;
	margin-right:5px;
}

div.rightdiv {
	float: right;
}

div.rightdivLeftpad {
	float: right;
	margin-left:5px;
}

#header-info {
    margin-top: 10px;
    text-align: right;
    font-size:0.8em;
}

.navbar-inner {
   background-color: #679e87;
   background-image: none;
   background-repeat: no-repeat;
   filter: none;
 }

.navbar .nav>li>a {
  color: #fff;
  text-shadow: none;
}

.small-img-row {
  margin-bottom: 10px;
}

.vcenter-text {
  margin-top: 50px;
}

li
{
  color: #679E87;/* bullet color */
}

li span {
  color: #333333; /* text color */
  font-size:0.90em;
}

.half {
  line-height: 50%;
}

table {
  border-collapse:collapse;
}

table, td, th {
  border:1px solid #344F44; /*darker green same hue*/
  padding:15px;
  font-size:0.90em;
}

th {
  background-color:#679E87;
  color: #fff;
}

td {
  background-color:#E1ECE7;  /*paler green same hue*/
}
