/*
 * Main colour: #679e87
 * Dark: 		#344F44
 * Medium:		#B3CEC3
 * Light: 		#E1ECE7
*/

/*@media (min-width: 1200px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 940px;
    }
}
* This only changed the navbar, not the rest of the page...
* */

#tagline {
    color: #679e87;
    font-weight: bold;
    font-style: italic;
}

#header-info {
    margin-top: 10px;
    text-align: right;
    font-size:0.90em;
}

footer {
	margin-top: 10px;
	margin-bottom: 10px;
    text-align: right;
    font-size:0.80em;
    color: #679e87;
}

footer div.fb-follow {
    float: right;
    margin-left: 10px;
}

h1 {
    font-size:0.9em;
}

h2 {
    clear: both;
    font-size: 1.35em;
    color:#679e87;
	font-weight: bold;
	line-height: 1.2em;
	padding-top: 5px;
	padding-bottom: 5px;
}

h3 {
    clear: both;
    font-size: 1.20em;
    color:#679e87;
	font-weight: bold;
	line-height: 1.2em;
	padding-top: 5px;
	padding-bottom: 5px;
}

p.normaltext {
	font-size:0.90em; /*also bullet and table font size!*/
	text-align: justify;
}

p.normaltextnotjustify {
	font-size:0.90em; /*also bullet and table font size!*/
}

p.normaltextnotjustify>span {
	color:#679e87; 
	font-weight: bold;
}

p.captiontext {
	font-size:0.90em;
	text-align:center;
	color:#679e87;
	font-style:italic;
}

/*p.cationtext1 {
	font-size:0.90em;
	text-align:center;
	color:#679e87;
	font-style:italic;
	max-width:120px;
}*/


div.leftdiv {
	float: left;
}

div.leftdivRightpad {
	float: left;
	margin-right:15px;
}

div.rightdiv {
	float: right;
}

div.rightdivLeftpad {
	float: right;
	margin-left:15px;
}

div.top10 {
	margin-top:10px;
}

.navbar-inner {
   background-color: #679e87;
   background-image: none;
   background-repeat: no-repeat;
   filter: none;
 }

.navbar .nav>li>a {
  color: #fff;
  text-shadow: none;
}

.small-img-row {
  margin-bottom: 10px;
}

.vcenter-text {
  margin-top: 50px;
}

li
{
  color: #679E87;/* bullet color */
}

li span {
  color: #333333; /* text color */
  font-size:0.90em;
}

.half {
  line-height: 50%;
}

table {
  border-collapse:collapse;
}

table, td, th {
  border:1px solid #344F44; /*darker green same hue*/
  padding:15px;
  font-size:0.90em;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color:#679E87;
  color: #fff;
}


td {
  background-color:#E1ECE7;  /*paler green same hue*/
}

td.medcol {
	background-color:#B3CEC3;  /*medium green same hue*/
}

td.nocol {
	background-color:#fff;  
}

th.xmas {
  width: 14.2%
}

div.rectangle_medium {
	width:25px;
	height:25px;border:1px solid #679E87;
	background-color:#B3CEC3;
}

div.rectangle_pale {
	width:25px;
	height:25px;border:1px solid #679E87;
	background-color:#E1ECE7;
}

div.around_img {
	padding:5px;
}

.fb-like.fb_edge_widget_with_comment.fb_iframe_widget span iframe {

/* Now you can apply css here */
bottom:0!important;

}

div.map-container {
    position: relative;
    padding-bottom: 75%; /* 4:3 ratio */
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

/* Need to style the iframe itself */
div.map-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
